<div>
    <form (submit)="loginUser($event)">
        <h1>Tragen Sie Ihren Username und Password ein:</h1>
        <div class="form-group">
            <label for="">Username:</label><br>
            <input type="text" placeholder="Username" id="username">
        </div>

        <div class="form-group">
            <label for="">Passwort:</label><br>
            <input type="password" placeholder="Password" id="password">
        </div>

        <div class="form-group">
            <input type="submit" onclick="" value="Submit">
        </div>
    </form>
</div>
