<h1>Optionen:</h1>
<div class="options">

    <div class="Form">
        <button class="goToForm" (click)="goToForm()">Formular</button>
        <p>Klicken Sie auf <b>Formular</b>, um das Formular auszufüllen. Versuchen Sie dies täglich zu erledigen, um die
            Genauigkeit ihrer Daten zu steigern. </p>
    </div>

    <div class="Detail">
        <button class="goToDetails" (click)="goToDetails()">Meine Daten</button>
        <p>Klicken Sie auf <b>Meine Daten</b>, um ihre Daten zu sehen. Die Daten sind graphisch dargestellt. Die Texte,
            die Sie eingetragen haben, sind innerhalb den Tabellen "Beschreibung der Stimmung", "Art der Schlafstörung" und "Medikamente und Dosen" zu finden. </p>
    </div>
</div>