
  .Anzeige {
    width: 70%;
    margin-left: 200px;
    background-color: white;
    
  }
 table {
   width: 100%;
 }
 
 .Seite {
   background-color: rgb(221, 252, 118);
 }

 button {
  background-color: rgb(221, 252, 118);
 }